<a href="https://colab.research.google.com/github/Shweta-Shivhare/Rossmann_Retail_Sales_Prediction_Capstone_Project_2/blob/main/Rossmann_Retail_Sales_Prediction_Shweta_Shivhare_Capstone_Project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Title** : Sales Prediction : Predicting sales of a major store chain Rossmann

# **Problem Description** 

Rossmann operates over 3,000 drug stores in 7 European countries. Currently, Rossmann store managers are tasked with predicting their daily sales for up to six weeks in advance. Store sales are influenced by many factors, including promotions, competition, school and state holidays, seasonality, and locality. With thousands of individual managers predicting sales based on their unique circumstances, the accuracy of results can be quite varied.¶
You are provided with historical sales data for 1,115 Rossmann stores. The task is to forecast the "Sales" column for the test set. Note that some stores in the dataset were temporarily closed for refurbishment.

#  Data Description 

**Rossmann Stores Data.csv - historical data including Sales**

**store.csv - supplemental information about the stores** 

**Data fields**

Most of the fields are self-explanatory. The following are descriptions for those that aren't.

* Id - an Id that represents a (Store, Date) duple within the test set

* Store - a unique Id for each store

* Sales - the turnover for any given day (this is what you are predicting)

* Customers - the number of customers on a given day

* Open - an indicator for whether the store was open: 0 = closed, 1 = open

* StateHoliday - indicates a state holiday. Normally all stores, with few exceptions, are closed on state holidays. Note that all schools are closed on public holidays and weekends. a = public holiday, b = Easter holiday, c = Christmas, 0 = None

* SchoolHoliday - indicates if the (Store, Date) was affected by the closure of public schools

* StoreType - differentiates between 4 different store models: a, b, c, d

* Assortment - describes an assortment level: a = basic, b = extra, c = extended

* CompetitionDistance - distance in meters to the nearest competitor store

* CompetitionOpenSince[Month/Year] - gives the approximate year and month of the time the nearest competitor was opened

* Promo - indicates whether a store is running a promo on that day

* Promo2 - Promo2 is a continuing and consecutive promotion for some stores: 0 = store is not participating, 1 = store is participating

* Promo2Since[Year/Week] - describes the year and calendar week when the store started participating in Promo2¶

* PromoInterval - describes the consecutive intervals Promo2 is started, naming the months the promotion is started anew. E.g. "Feb,May,Aug,Nov" means each round starts in February, May, August, November of any given year for that store

In [1]:
# Importing the libraries
import numpy as np
import pandas as pd
from numpy import math
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Importing the dataset
dataset = pd.read_csv("Rossmann Stores Data.csv")
dataset1 = pd.read_csv("store.csv")

In [4]:
dataset.head()

   Store  DayOfWeek        Date  ...  Promo  StateHoliday  SchoolHoliday
0      1          5  2015-07-31  ...    1.0             0            1.0
1      2          5  2015-07-31  ...    1.0             0            1.0
2      3          5  2015-07-31  ...    1.0             0            1.0
3      4          5  2015-07-31  ...    1.0             0            1.0
4      5          5  2015-07-31  ...    1.0             0            1.0

[5 rows x 9 columns]

In [14]:
dataset.shape

(420077, 9)

In [6]:
dataset['Store'].nunique()

1115

In [7]:
dataset1.head()

   Store StoreType  ... Promo2SinceYear    PromoInterval
0      1         c  ...             NaN              NaN
1      2         a  ...          2010.0  Jan,Apr,Jul,Oct
2      3         a  ...          2011.0  Jan,Apr,Jul,Oct
3      4         c  ...             NaN              NaN
4      5         a  ...             NaN              NaN

[5 rows x 10 columns]

In [8]:
dataset1.shape

(1115, 10)

In [9]:
dataset1['Store'].nunique()

1115

In [10]:
df = pd.merge(dataset,dataset1, on = 'Store', how='left' )

In [11]:
df.head()

   Store  DayOfWeek  ... Promo2SinceYear    PromoInterval
0      1          5  ...             NaN              NaN
1      2          5  ...          2010.0  Jan,Apr,Jul,Oct
2      3          5  ...          2011.0  Jan,Apr,Jul,Oct
3      4          5  ...             NaN              NaN
4      5          5  ...             NaN              NaN

[5 rows x 18 columns]

In [12]:
df.shape

(420077, 18)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 420077 entries, 0 to 420076
Data columns (total 18 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Store                      420077 non-null  int64
 1   DayOfWeek                  420077 non-null  int64
 2   Date                       420077 non-null  object
 3   Sales                      420076 non-null  float64
 4   Customers                  420076 non-null  float64
 5   Open                       420076 non-null  float64
 6   Promo                      420076 non-null  float64
 7   StateHoliday               420076 non-null  object
 8   SchoolHoliday              420076 non-null  float64
 9   StoreType                  420077 non-null  object
 10  Assortment                 420077 non-null  object
 11  CompetitionDistance        419042 non-null  float64
 12  CompetitionOpenSinceMonth  286305 non-null  float64
 13  CompetitionOpenSinceYear   286305 non-null  float64
 14  Promo2                     420077 non-null  int64
 15  Promo2SinceWeek            203383 non-null  float64
 16  Promo2SinceYear            203383 non-null  float64
 17  PromoInterval              203383 non-null  object
dtypes: float64(10), int64(3), object(5)
memory usage: 60.9+ MB

In [15]:
len(df[df.duplicated()])

0